html, body {
    width: 100%;
    height: 100%;
    background-color: #cccccc;
    margin: 0px;
}

#back {
    position: relative;
    float: right;
}

.form_login {
    position: relative;
    padding: 10px;
    width: 250px;
    background: DarkGray;
    border-radius: 5px;
    left: 50%;
    top: 200px;
    margin-left: -135px;
}

.form_login input[type="text"], input[type="password"] {
    margin-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: DarkGray;
    width: 100%;
}

h1 {
    font-family: Tahoma, Sans-Serif;
    font-size: 12pt;
}

.menu {
    position: relative;
    top: 0px;
    width: 100%;
    height: 40px;
    background-color: Black;
    color: White;
    font-family: Tahoma, Sans-Serif;
    font-size: 12pt;
    line-height: 40px;
    vertical-align: middle;
}

.menu h1 {
    margin: 0px;
    margin-left: 10px;
}

.content {
    position: relative;
    top: 40px;
    width: 70%;
    margin: auto;
}

.form_post {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form_comment textarea {
    width: 100%;
    height: 100px;
}

.form_post input, textarea {
    width: 100%;
    margin: auto;
    margin-bottom: 5px;
}

.form_post textarea {
    height: 200px;
}

.comment {
    border: 1px;
    border-radius: 3px;
    background-color: #ffffff;
    border-color: Black;
    padding: 5px;
    margin: auto;
    margin-bottom: 10px;
}

.comment h1 {
    font-family: Tahoma, Sans-Serif;
    font-size: 12pt;
}

.comment h2 {
    font-family: Tahoma, Sans-Serif;
    font-size: 10pt;
    font-weight: 400;
}

.comment h3 {
    font-family: Tahoma, Sans-Serif;
    font-size: 8pt;
    font-weight: 300;
}

.post {
    border: 1px;
    border-radius: 3px;
    background-color: #ffffff;
    border-color: Black;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
}

.post h1 {
    font-family: Tahoma, Sans-Serif;
    font-size: 12pt;
}

.post h2 {
    font-family: Tahoma, Sans-Serif;
    font-size: 10pt;
    font-weight: 400;
}

.post h3 {
    font-family: Tahoma, Sans-Serif;
    font-size: 8pt;
    font-weight: 300;
}